[submodule "src/frcobot_ros2"]
	path = src/frcobot_ros2
	url = https://github.com/hasemu1211/frcobot_ros2.git
	branch = fr5-connector-v3.9.7
	shallow = true
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
	shallow = true
